.CoveoFacet {
  margin: 10px 0;
  ul {
    .form-check {
      overflow: hidden;
    }
  }
  .card-header svg {
    width: 18px;
    height: 18px;
    margin: 0 5px;
  }
}

.CoveoFacet,
.coveo-facet-search-results {
  .list-group-item-action {
    .close {
      visibility: hidden;
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
    }
    &:hover {
      .close {
        visibility: visible;
      }
    }
    &.coveo-excluded {
      text-decoration: line-through;
      &:hover {
        .close {
          visibility: hidden;
        }
      }
    }
  }
}

.coveo-facet-search-results {
  z-index: 1070;
}

.coveo-facet-value-caption {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.coveo-facet-search-magnifier-svg,
.coveo-facet-search-wait-animation-svg {
  width: 10px;
  height: 10px;
}

.coveo-facet-search-wait-animation-svg,
.coveo-facet-header-wait-animation-svg {
  animation-name: coveo-spin;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.coveo-facet-more-icon-svg,
.coveo-facet-less-icon-svg {
  width: 10px;
  height: 6px;
}

.coveo-facet-more,
.coveo-facet-less {
  text-align: center;
}
