@import 'bourbon/bourbon';

.CoveoFacet {
  margin: 10px 0;
  ul {
    .form-check {
      overflow: hidden;
    }
  }
}

.coveo-facet-value-caption {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.coveo-facet-value-count {
  text-align: right;
}

.coveo-facet-value-exclude {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  text-align: center;
}

.coveo-facet-value-exclude-svg {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  .coveo-exclusion-svg {
    fill: black;
  }
}

.coveo-facet-search-magnifier-svg,
.coveo-facet-search-wait-animation-svg {
  width: 10px;
  height: 10px;
}

.coveo-facet-search-wait-animation-svg {
  @include animation-name(coveo-spin);
  @include animation-timing-function(linear);
  @include animation-duration(1s);
  @include animation-iteration-count(infinite);
}
