@import 'MagicBox/Colors';
@import 'Variables';

@mixin attachTo($attachment) {
  position: absolute;
  @if $attachment != bottom {
    top: 0;
  }
  @if $attachment != top {
    bottom: 0;
  }
  @if $attachment != right {
    left: 0;
  }
  @if $attachment != left {
    right: 0;
  }
}

@mixin coveo-default-result-preview($maxImageHeightRelativeToWidth: 100%) {
  position: relative;
  padding: $maxImageHeightRelativeToWidth 0 0 0;
  margin: 0;
  .CoveoImageFieldValue {
    @include attachTo(top);
    padding: $maxImageHeightRelativeToWidth 0 0 0;
    span {
      @include attachTo(all);
      @include display(flex);
      @include justify-content(center);
      @include align-items(center);
      img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        margin: 0;
      }
    }
  }
  .CoveoResultLink {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@mixin coveo-preview-container($columns: 2) {
  border: none;
  .coveo-preview-header {
    padding: 10px;
    font-weight: normal;
    margin-top: 0;
  }
  .coveo-preview-results {
    @include display(inline-flex);
    @include flex-wrap(wrap);
    @include align-items(stretch);
    width: 100%;
    &.coveo-preview-results-loading {
      opacity: 0;
      pointer-events: none;
      @include animation(loadingFade 1s infinite);
    }
    .coveo-preview-layout {
      box-sizing: border-box;
      $margin: 4px;
      margin: $margin;
      padding: 5px;
      width: calc(#{100% / $columns} - #{$margin * 2});
      &.coveo-preview-selectable {
        cursor: pointer;
        &.magic-box-selected {
          outline: $default-border;
          outline-offset: -1px;
        }
        &:hover {
          background-color: $grey-100;
        }
        .coveo-default-result-preview {
          @include coveo-default-result-preview();
        }
      }
    }
    .coveo-preview-header {
      text-align: center;
    }
  }
}

.coveo-preview-container {
  @include coveo-preview-container();
}
