@import 'Variables';
@import 'bourbon/bourbon';
.d-inline-block.d-none {
  display: none !important;
}

.d-block.d-none {
  display: none !important;
}

.CoveoSearchInterface {
  input[type='text']::-ms-clear {
    width: 0;
    height: 0;
  }
}
