@import 'MagicBox/Colors';
@import 'Variables';

.magic-box-suggestion {
  cursor: pointer;
  background: $white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-top: 1px solid $grey-50;
  color: $grey-900;
  .magic-box-hightlight {
    font-weight: bold;
    color: $black;
  }
  &:first-child {
    border-top: none;
  }
  &.magic-box-selected {
    background: $cyan-50 !important;
  }
  &:hover {
    background: $grey-100;
  }
}
